/*
 *# [Nerd Fonts]  Website: https://www.nerdfonts.com
 *# [Nerd Fonts]  Development Website: https://github.com/ryanoasis/nerd-fonts
 *# [Nerd Fonts]  Version: 3.3.0
 *# [Nerd Fonts]  Manually cut down from original file
 */
 @font-face{font-family:'NerdFontsSymbols Nerd Font';src:url("https://www.nerdfonts.com/assets/fonts/Symbols-2048-em Nerd Font Complete.woff2") format("woff2");font-weight:normal;font-style:normal}.nf,.nerd-font,.nerd-fonts{font-family:'NerdFontsSymbols Nerd Font';font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
 .nf-fa-address_card:before{content:"\f2bb"}
 .nf-fa-camera:before{content:"\f030"}
 .nf-fa-flickr:before{content:"\f16e"}
 .nf-fa-github:before{content:"\f09b"}
 .nf-fa-lock:before{content:"\f023"}
 .nf-fa-message:before{content:"\f27a"}
 .nf-fa-photo_film:before{content:"\efab"}
 .nf-fa-question_circle:before{content:"\f059"}
 .nf-fa-ruler_horizontal:before{content:"\ee10"}
 .nf-fa-square_rss:before{content:"\f143"} 
 .nf-fae-mountains:before{content:"\e2a6"}
 .nf-md-camera_iris:before{content:"\f0104"}
 .nf-md-camera_timer:before{content:"\f0109"}
 .nf-md-email_check:before{content:"\f0ab1"}
 .nf-md-eye:before{content:"\f0208"}
 .nf-md-map_marker:before{content:"\f034e"}