@use "./base.scss";
@use "./variables.scss" as *;
@use "sass:color";

@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

h2 {
  clear: left;
}

.site-metadata {
  padding-top: 0.5em;
  line-height: 1.8em;
  font-size: smaller;
}

.page {
    & article {
        & img {
            border: 1px solid black;
            box-shadow: 0.5rem 0.5rem 0.2rem var(--lightgray);
            display: block;
            margin-left: auto;
            margin-right: auto;

            &[alt*="left"],
            &[alt*="media-cover"] {
              float:left;
              clear:left;
              margin-right: 1.5rem;
              margin-bottom: 1rem;
              margin-top: 4px;
            } 

            &[alt*="right"] {
              float:right;
              clear:right;
              margin-left: 1.5rem;
              margin-bottom: 1rem;
              margin-top: 4px;
            } 

            + em {
              text-align: center;
              padding-top: 1rem;
            }
        }
    }
}

tbody,
li,
p {
  line-height: 1.7rem;
}

figure[data-rehype-pretty-code-figure] {
  line-height: 1.7rem;
}

a {
  font-weight: 600;

    &.internal {
      background-color: transparent;
      &.tag-link {
        &::before {
          content: "";
        }
      }
    }

    &.external .external-icon {
      margin: 0 0.30em;
    }
} 

.content-meta {
  font-size: 0.9em;
}

.callout {
  border: 3px solid var(--border);  

  --callout-icon-landscape: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 640 512"><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg>');
  --callout-icon-map: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map"><path d="M14.106 5.553a2 2 0 0 0 1.788 0l3.659-1.83A1 1 0 0 1 21 4.619v12.764a1 1 0 0 1-.553.894l-4.553 2.277a2 2 0 0 1-1.788 0l-4.212-2.106a2 2 0 0 0-1.788 0l-3.659 1.83A1 1 0 0 1 3 19.381V6.618a1 1 0 0 1 .553-.894l4.553-2.277a2 2 0 0 1 1.788 0z"/><path d="M15 5.764v15"/><path d="M9 3.236v15"/></svg>');
  --callout-icon-writing: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 512 512"><path d="M368.4 18.3L312.7 74.1 437.9 199.3l55.7-55.7c21.9-21.9 21.9-57.3 0-79.2L447.6 18.3c-21.9-21.9-57.3-21.9-79.2 0zM288 94.6l-9.2 2.8L134.7 140.6c-19.9 6-35.7 21.2-42.3 41L3.8 445.8c-3.8 11.3-1 23.9 7.3 32.4L164.7 324.7c-3-6.3-4.7-13.3-4.7-20.7c0-26.5 21.5-48 48-48s48 21.5 48 48s-21.5 48-48 48c-7.4 0-14.4-1.7-20.7-4.7L33.7 500.9c8.6 8.3 21.1 11.2 32.4 7.3l264.3-88.6c19.7-6.6 35-22.4 41-42.3l43.2-144.1 2.8-9.2L288 94.6z"/></svg>');
  --callout-icon-music: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-4"><path d="M9 18V5l12-2v13"/><path d="m9 9 12-2"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>');
  --callout-icon-mastodon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M433 179.1c0-97.2-63.7-125.7-63.7-125.7-62.5-28.7-228.6-28.4-290.5 0 0 0-63.7 28.5-63.7 125.7 0 115.7-6.6 259.4 105.6 289.1 40.5 10.7 75.3 13 103.3 11.4 50.8-2.8 79.3-18.1 79.3-18.1l-1.7-36.9s-36.3 11.4-77.1 10.1c-40.4-1.4-83-4.4-89.6-54a102.5 102.5 0 0 1 -.9-13.9c85.6 20.9 158.7 9.1 178.8 6.7 56.1-6.7 105-41.3 111.2-72.9 9.8-49.8 9-121.5 9-121.5zm-75.1 125.2h-46.6v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.3V197c0-58.5-64-56.6-64-6.9v114.2H90.2c0-122.1-5.2-147.9 18.4-175 25.9-28.9 79.8-30.8 103.8 6.1l11.6 19.5 11.6-19.5c24.1-37.1 78.1-34.8 103.8-6.1 23.7 27.3 18.4 53 18.4 175z"/></svg>');
  --callout-icon-code: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-terminal"><path d="m7 11 2-2-2-2"/><path d="M11 13h4"/><rect width="18" height="18" x="3" y="3" rx="2" ry="2"/></svg>');
 

  &[data-callout="landscape"] {
    --color: #8a614e;
    --border: #e4a61f9d;
    --bg: #8a614e10;
    --callout-icon: var(--callout-icon-landscape);
  }

  &[data-callout="map"] {
    --color: #00a53f;
    --border: #00b8d444;
    --bg: #00a53f10;
    --callout-icon: var(--callout-icon-map);
  }

  &[data-callout="writing"] {
    --color: #00a53f;
    --border: #00b8d444;
    --bg: #00a53f10;
    --callout-icon: var(--callout-icon-writing);
  }

  &[data-callout="music"] {
    --color: #6C996B;
    --border: #6C996B44;
    --bg: #00a53f10;
    --callout-icon: var(--callout-icon-music);
  }

  &[data-callout="mastodon"] {
    --color: #563ACC;
    --border: #563ACC;
    --bg: #5a5af224;
    --callout-icon: var(--callout-icon-mastodon);
  }

  &[data-callout="code"] {
    --color: #00a53f;
    --border: #00b8d444;
    --bg: #00a53f10;
    --callout-icon: var(--callout-icon-code);
  }

}

footer {

  & ul {
    flex-flow: wrap;
  }
}

.footnotes {
  & > ol > li > p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}

.graph {
  & > h3 {
    margin: 0 0 0 0;
    font-size: 1.3rem;
  }
}

button#backlinks,
button#recent-notes,
button#toc {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    font-size: 1.1rem;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

#backlinks-content,
#recent-notes-content,
#toc-content {
  list-style: none;
  max-height: none;
  transition: none; 
  position: relative;

  &.collapsed > .overflow::after {
    opacity: 0;
  }

  & ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;

    & > li {
      margin-bottom: 0.5rem;
      line-height: 1rem;    

      & > a {
        color: var(--secondary);
        background-color: transparent;
        transition: none;
        padding: 0;
      }
    }
  }
}

#recent-notes-content {
  & .meta {
    font-size: 0.8rem;
    color: var(--gray)
  }
}

#toc-content {
  &.in-view {
    opacity: 1;
  }
}

div#engage {
  display: flex;
  align-items: stretch;
}
button#emailComment,
button#mastodonComment {
  flex: 0 1 auto;
  width: auto;
  margin-left: 0.5rem;

  & a {
    font-weight: normal;
  }
}

.anchor-split:before {
  opacity: 0.4;
  content: " â¯ ";
}

.footnotes {
  & ol {
    font-size: 0.8em;
  }
}

.table-container {

  & table {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;  

    & th {
      padding-left: 0.4rem;
      padding-bottom: 0;
      min-width: auto;
    }

    & td {
      vertical-align: top;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      min-width: auto;

      & img {
        margin-block-start: 0.2rem;
        margin-block-end: 0.4rem;
      }

      & ul {
        list-style: none;
        padding: 0px;
        margin-block-start: 0rem;
        margin-block-end: 0rem;

        & li {
          padding: 0.2rem 0rem;
        }
      }
    }
  }
}

.flags {
  font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
  'Segoe UI Emoji', 'Segoe UI Symbol';
  letter-spacing: 3px;
}

// Create a list of fixed column width classes

article {

  @each $width in 20, 50, 100, 150, 200, 250, 300, 350, 400 {
    &.firstcol-#{$width} {
      th,
      td {
        &:first-child {
          width: #{$width}px;
          min-width: auto;
        }
      }
    }

    &.secondcol-#{$width} {
      th,
      td {
        &:nth-child(2) {
          width: #{$width}px;
        }
      }
    }

    &.lastcol-#{$width} {
      th,
      td {
        &:last-child {
          width: #{$width}px;
        }
      }
    }
  }
}

#engage {
  padding-top: 1rem;
}


// .search {

//   min-width: auto;
//   max-width: auto;

//   & > .search-button {
//     width: auto;
//   }
// }


span {
  &.self-link {
    font-weight: bold;
    font-variant-caps: small-caps;
  }
}

iframe#slider {
  border: 1px solid black;
  box-shadow: 0.5rem 0.5rem 0.2rem var(--lightgray);
  display: block;
  margin-left: auto;
  margin-right: auto;

  + em {
    text-align: center;
    padding-top: 1rem;
  }
}

.nodeLabel {
  font-family: var(--bodyFont) !important;
  font-size: inherit !important;
}
